*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.snm
*.nav
*.cb
*.cb2
.*.lb
*/*.log
*/*.aux
*/*.out
*.synctex.gz
*.run.xml
*.fdb_latexmk
*.bbl
*.bcf
*/*.fls
*/*.fdb_latexmk
/src/lib/__pycache__/*.pyc
/src/lib/__pycache__/*.nbc
/src/lib/__pycache__/*.nbi
