*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*/*.log
*/*.aux
*/*.out
*.synctex.gz
*/*.fls
*/*.fdb_latexmk
/src/lib/__pycache__/*.pyc
/src/lib/__pycache__/*.nbc
/src/lib/__pycache__/*.nbi
